<!DOCTYPE html>
<html lang="en">
{% extends 'web/base_generic.html' %}
{% load static %}
<body>
{% block content %}
  <main class="main-content">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content ">
              <h2 class="title">About</h2>
              <div class="bread-crumbs"><a href="{% url 'index' %}">Home<span class="breadcrumb-sep">></span></a><span class="active">About</span></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start About Area ==-->
    <section class="about-area about-default-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="about-content">
              <div class="section-title mb-0">
                <h2 class="title">A Few Words About <br>Our Website </h2>
              </div>
              <p class="mb-15">This online store, a site made for the purpose of self-development,
                is not a real online store. You will never get what you bought here, because I simply
                don't have this something.
                In any case, money will not be debited from your account in any way, since you don't
                even enter your card number anywhere, so you can buy anything and in any quantities.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="thumb thumb-hover mt-md-30">
              <img src="{% static 'img/about/polygon.jpg' %}" alt="OlBikeShop">
              <div class="img-content">
                <h3>2021</h3>
                <span>Bike</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End About Area ==-->

    <!--== Start Featured Product Area Wrapper ==-->
    <div class="divider-area divider-about-area">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-6">
            <div class="tab-default mb-md-40">
              <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="mission-tab" data-bs-toggle="pill" data-bs-target="#mission" type="button" role="tab" aria-controls="mission" aria-selected="true">Mission</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="vision-tab" data-bs-toggle="pill" data-bs-target="#vision" type="button" role="tab" aria-controls="vision" aria-selected="false">Vision</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="goal-tab" data-bs-toggle="pill" data-bs-target="#goal" type="button" role="tab" aria-controls="goal" aria-selected="false">Goal</button>
                </li>
              </ul>
              <div class="tab-content mt-n4" id="pills-tabContent">
                <div class="tab-pane fade show active" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                  <p>I am a novice web developer from Russia. This site is a kind of home project.
                    This site was written in Django Python.  This project gave me quite a lot of
                    experience working with Heroku, MySQL and AWS services. In my opinion,
                    this job has given me a lot of experience.</p>
                  <p>I've been working on this for quite
                    a while, but there may still be bugs.
                    If you find any error, go to the Contacts
                    section.</p>
                </div>
                <div class="tab-pane fade" id="vision" role="tabpanel" aria-labelledby="vision-tab">
                  <p>Let me tell you a little more about myself. As I have already said, I am a novice programmer
                    from Russia. At the time of writing the site, I was 16 years old. I lived in a small town in this country.
                  </p>
                </div>
                <div class="tab-pane fade" id="goal" role="tabpanel" aria-labelledby="goal-tab">
                  <p>I have earned a lot of experience writing this site. I learned how to work with MySQL,
                    send emails using django, and strengthened some knowledge in programming and debugging.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="thumb thumb-hover">
              <img class="w-100" src="{% static 'img/about/disassembled_bike.jpg' %}" alt="BikeShop">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Featured Product Area Wrapper ==-->

    <!--== Start Video Area Wrapper ==-->
    <section class="video-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="video-content content-style2">
              <div class="thumb thumb-hover">
                <img src="{% static 'img/about/m_thumbnail.jpg' %}" alt="https://youtu.be/D8hcypXRlv4">
                <a class="btn-play play-video-popup" href="https://youtu.be/D8hcypXRlv4"><span class="icon"><img src="{% static 'img/icons/play-btn-s2.webp' %}" alt="Icon"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Video Area Wrapper ==-->

    <!--== Start Brand Logo Area ==-->
    <section class="brand-logo-area brand-logo-about-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 m-auto">
            <div class="section-title text-center">
              <h2 class="title">Brand Logo</h2>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="swiper-container brand-logo-slider-container">
              <div class="swiper-wrapper brand-logo-slider">
                <div class="swiper-slide brand-logo-item">
                  <a href="#/"><img src="{% static 'img/logo-bikeshop.png' %}" alt="Brand-Logo"></a>
                </div>
                <div class="swiper-slide brand-logo-item">
                  <a href="#/"><img src="{% static 'img/logo-bikeshop.png' %}" alt="Brand-Logo"></a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Brand Logo Area ==-->
  </main>

{% endblock %}
</body>

</html>