<!DOCTYPE html>
<html lang="en">
{% extends 'web/base_generic.html' %}
{% load static %}
{% load crispy_forms_tags %}

<body>
{% block content %}

  <main class="main-content">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content ">
              <h2 class="title">Contact</h2>
              <div class="bread-crumbs"><a href="{% url 'index' %}">Home<span class="breadcrumb-sep">></span></a><span class="active">Contact</span></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Contact Area ==-->
    <section class="contact-area">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class=" col-lg-9 col-md-8">
            <div class="contact-form mb-sm-30">
              <form class="needs-validation ml-5" novalidate method="POST">

                  {% csrf_token %}
                  <div class="col-md-12 mb-3">
                    <label for="validationCustom01">Full name*</label>
                    <input type="text" class="form-control" id="validationCustom01" name="full-name" placeholder="First name" value="Mark" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter your full name.
                    </div>
                  </div>

                  <div class="col-md-12 mb-3">
                    <label for="validationCustom01">Email*</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                      </div>
                    <input type="Email" class="form-control" id="validationCustom03" name="email" placeholder="example@example.com"
                           required aria-describedby="inputGroupPrepend">

                      <div class="invalid-feedback">
                        Please enter a email.
                      </div>
                    </div>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>

                  <div class="col-md-12 mb-3">
                    <label for="validationCustom01">Subject*</label>
                    <input type="text" class="form-control" id="validationCustom04" name="subject" placeholder="Subject" value="Proposal" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter your subject.
                    </div>
                  </div>

                  <div class="col-md-12 mb-3">
                    <label for="validationCustom01">Message*</label>
                    <textarea type="text" class="form-control" id="validationCustom05" name="message" placeholder="Message" required></textarea>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter your message.
                    </div>
                  </div>

                  <div class="col-md-12 mb-3 form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="checkbox" id="invalidCheck" required>
                      <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                      </label>
                      <div class="invalid-feedback">
                        You must agree before submitting.
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-block" type="submit">Submit form</button>
              </form>

            </div>
            <!-- Message Notification -->
            <div class="form-message"></div>
          </div>
          <div class=" col-lg-3 col-md-4">
            <div class="row">
              <div class="col-lg-12">
                <div class="contact-info-content">
                  <div class="contact-info-item">
                    <div class="content">
                      <h4>Head Quater</h4>
                      <p>2055 Niagara Falls Blvd, <br>Amherst NY 14228</p>
                    </div>
                  </div>
                  <div class="contact-info-item">
                    <div class="content">
                      <h4>Contact with</h4>
                      <p>info@domain.com</p>
                      <p>123 456 789</p>
                    </div>
                  </div>
                  <div class="contact-info-item mb-0 pb-0">
                    <div class="content">
                      <h4>Follow us</h4>
                      <div class="social-widget">
                        <a href="#/"><i class="fab fa-twitter"></i></a>
                        <a href="#/"><i class="fab fa-pinterest-p"></i></a>
                        <a href="#/"><i class="fab fa-instagram"></i></a>
                        <a href="#/"><i class="fab fa-facebook-square"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Contact Area ==-->

    <!--== Start Map Area ==-->
    <div class="contact-map-area">
      <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Igra,%20microrayon%20Neftyanicov,%205+(BikeShop)&amp;t=h&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
    </div>
    <!--== End Map Area ==-->
  </main>

<script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}
</body>
</html>
