<!DOCTYPE html>
{% extends 'web/base_generic.html' %}
{% load static %}
<html lang="en">

<body>
{% block content %}
  
  <main class="main-content">
    <!--== Start Hero Area Wrapper ==-->
    <section class="home-slider-area slider-default">
      <div class="home-slider-content slider-content-style3">
        <div class="swiper-container home-slider-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!-- Start Slide Item -->
              <div class="home-slider-item">
                <div class="slider-content-area">
                  <div class="container">
                    <div class="row align-items-center">
                      <div class="col-lg-6 col-md-6">
                        <div class="content">
                          <div class="inner-content">
                            <div class="tittle-wrp">
                              <h1>Bike lovers deserve better.</h1>
                            </div>
                            <p>You already love your bike because it lets you explore farther.
                              You love it even more when the ride feels this good.</p>
                            <a href="{% url 'shop' %}" class="btn-theme btn-hover-style-bg">Browse Store</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="slider-thumb">
                          <img src="{% static 'img/about/Mountain-Downhill-Bike-PNG-Transparent-HD-Photo.png' %}"
                               alt="Bike-Image">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Slide Item -->
            </div>
            <div class="swiper-slide">
              <!-- Start Slide Item -->
              <div class="home-slider-item">
                <div class="slider-content-area">
                  <div class="container">
                    <div class="row align-items-center">
                      <div class="col-lg-6 col-md-6">
                        <div class="content">
                          <div class="inner-content">
                            <div class="tittle-wrp">
                              <h1>Bike lovers deserve better.</h1>
                            </div>
                            <p>You already love your bike because it lets you explore farther.
                              You love it even more when the ride feels this good.</p>
                            <a href="{% url 'shop' %}" class="btn-theme btn-hover-style-bg">Browse Store</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="slider-thumb">
                          <img src="{% static 'img/about/dh.jpg' %}"
                               alt="Bike-Image">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Slide Item -->
            </div>
          </div>          


        </div>
      </div>
    </section>
    <!--== End Hero Area Wrapper ==-->

    <!--== Start Categories Area Wrapper ==-->
    <section class="categories-area categories-default-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 m-auto">
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
              <h2 class="title">Categories Product</h2>
            </div>
          </div>
        </div>
        <div class="row row-gutter-0 ml-0 mr-0" data-aos="fade-up" data-aos-duration="1100">
        {% for category in categories %}
          <div class="col-lg-2 col-md-4 col-6">
            <div class="categorie-content " style="height: 100%;">
              <h4 class="title"><a href="{{ category.url }}">{{ category.name }}({{ category.count }})</a></h4>
            </div>
          </div>
       {% endfor %}
        </div>
      </div>
    </section>
    <!--== End Categories Area Wrapper ==-->

    <!--== Start Product Tab Area Wrapper ==-->
    <section class="product-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 m-auto">
            <div class="section-title text-center mb-29" data-aos="fade-up" data-aos-duration="1000">
              <h2 class="title">Arrival Product</h2>
            </div>
          </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-duration="1100">
          <div class="col-md-12">
            <div class="product-tab-content">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="new-product-tab" data-bs-toggle="tab" data-bs-target="#new-product"
                          type="button" role="tab" aria-controls="new-product" aria-selected="true">New Arrivals</button>
                </li>

              </ul>

              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="new-product" role="tabpanel" aria-labelledby="new-product-tab">
                  <div class="row">

                      {% for product in products %}


                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                        <!-- Start Product Item -->
                    <div class="product-item">
                      <div class="product-thumb">
                        <a href="{{ product.get_absolute_url }}">
                          {% if product.thumbnail_image %}
                            <img src="{{ MEDIA_URL }}{{ product.thumbnail_image.url }}" alt="BikeShop">
                          {% endif %}
                        </a>
                        <div class="ribbons">
                          <span class="ribbon ribbon-hot">Sale</span>
                        </div>
                        <div class="product-action">
                            <a class="view" href="{{ product.get_absolute_url }}" title="View">
                              <i class="fas fa-search"></i>
                            </a>
                        </div>
                      </div>
                      <div class="product-info">
                        <h4 class="title"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>
                        <div class="prices">
                          <span class="price">${{ product.price }}</span>
                          {% if product.old_price %}
                            <span class="price-old">${{ product.old_price }}</span>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <!-- End Product Item -->
                    </div>
                            {% endfor %}

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Product Tab Area Wrapper ==-->

    <!--== Start Discount Area Wrapper ==-->
    <section class="discount-area pt-50 lg-pt-15" data-aos="fade-up" data-aos-duration="1000">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="discount-content discount-content-style2 bg-img" data-bg-img="{% static 'img/about/mountainbikes-big-nine.jpg' %}">
              <h3>New Arrival</h3>
              <p>Proactively drive collaborative value and reliable mindshare. Distinctively negotiate superior users via economically sound models. Energistically underwhelm.</p>
              <a href="{% url 'shop' %}">View Collection</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Discount Area Wrapper ==-->

    <!--== Start Popular Products Area Wrapper ==-->
    <section class="product-area featured-product-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 m-auto">
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
              <h2 class="title title-style2">Featured Product</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="swiper-container product4-slider-container" data-aos="fade-up" data-aos-duration="1100">
              <div class="swiper-wrapper">
              {% for product in products %}
                <div class="swiper-slide">

                  <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="{{ product.get_absolute_url }}">
                            {% if product.thumbnail_image %}
                            <img src="{{ product.thumbnail_image.url }}" alt="BikeShop">
                            {% endif %}
                          </a>
                          <div class="product-action">
                            <a class="view" href="{{ product.get_absolute_url }}" title="View">
                              <i class="fas fa-search"></i>
                            </a>
                          </div>
                        </div>

                        <div class="product-info">

                          <h4 class="title"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>
                          <div class="prices">
                            <span class="price">${{ product.price }}</span>
                            {% if product.old_price %}
                            <span class="price-old">${{ product.old_price }}</span>
                          {% endif %}
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                            {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Popular Products Area Wrapper ==-->

  </main>

{% endblock %}
</body>
</html>